/* Color Scheme:
#23606E
#FACFCE
#008F8C
#015958
#023535 
*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width:100%;
  }

  /* Utility Classes */
  
  .container{
    padding:40px;
    margin:auto;
  }

body{
    background-color:#d3dbdd;
    font-family: "Geist Mono", monospace;
}

main{
    background-color:#FACFCE;
    width:80vw;
    /*
    margin-top:40px;
    margin-right:auto;
    margin-bottom:40px;
    margin-left:auto;
*/
/*top right bottom left
    margin: 40px auto 40px auto;
    */
    margin: 40px auto;
    border:20px solid #008F8C;
    border-radius:80px;
}

header.primary{
 background-color:#d3dbdd;
 padding:20px;
 border-radius:40px;
 background-image: url("https://assets.codepen.io/7248/bg_1.png");
 background-repeat:no-repeat;
 background-size: cover;
 display:flex;
 flex-direction:row;
 border-bottom:3px solid #008F8C;
}

header.primary h1, header.primary h2{
  margin:0;
}

header.primary h1 a{
  color: #d3dbdd;
  text-decoration: none;
  font-size: 2.5rem; 
}

header.primary h2{
  color: #d3dbdd;

}

header.primary div.hgroup{
  width:80%;
}

header.primary nav{
  width:20%;
}

header.primary nav ul{
  list-style: none;
  margin: 0;
  padding:0;
}

header.primary nav ul li{
  margin-bottom:10px;
}

header.primary nav ul li a{
  border: 1px solid #008F8C;
  border-right:10px solid #008F8C;
  border-radius:20px 0;
  color:#d3dbdd;
  text-decoration:none;
  display:block;
  background-color:rgba(0,0,0,.3);
  padding:10px 10px 10px 0;
  text-align:right;
  transition:.5s;

}

header.primary nav a:hover{
  background-color:rgba(0,0,0,.7);
  text-decoration:underline;
}

#content{
  line-height:1.8rem;
}

#content h2, #content h3, article.widget h2{
  color:#008F8C;
  border-left: 7.5px solid #015958;
  padding:5px;
}

#blog.container {
background:#008F8C;
padding:20px 0;
border-top:6px double #d3dbdd;
border-bottom:6px double #d3dbdd;
}

#blog >h2{
  color:white;
  text-shadow: 2px 2px #000;
  font-size:2.2rem;
  margin-left:20px;
}

#blog article.post{
 background-color:white;
 margin:20px;
 padding:20px;
 display:grid;
 grid-template-columns:1fr 3fr;
 grid-template-rows:auto;
 grid-template-areas:
 "figure header" 
 "figure post-content"
 "figure footer"

}

#blog article figure{
  grid-area:figure;
  margin:0 20px 0 0;
}
#blog article header{
  grid-area:header;
}
#blog article .post-content{
  grid-area:post-content;
}
#blog article .post-meta{
  grid-area:footer;
}

aside .container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
}

#colophon {
text-align:center;
    background-image: url("https://assets.codepen.io/7248/bg_1.png");
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
  padding:20px;
  border-radius:60px;
}