/*
Color Scheme:
#23606E
#FACFCE
#008F8C
#015958
#023535
*/
  


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container{
    padding:40px;
    margin:auto;
  }


body {
    background-color:rgb(204, 204, 204);
    font-family: "Parkinsans", sans-serif;
}

nav ul li a {
    text-decoration: none;
    
}
