

html {

  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width:100%;
  }

  a {
    text-decoration: none;
    color: rgb(81, 57, 57);
  }

body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

main {
 margin:0;
 background-color:rgb(252, 247, 242); 
   
}

  .header {
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/cavetour-edit.jpg");
    background-size:cover;
    background-repeat:no-repeat;
   
  }
   

  .nav {
  padding:0;
  margin:0;
  color: rgb(226, 239, 239);
  display: flex;
  flex-direction: row;
  justify-content:flex-end;

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  text-decoration: none;
  padding-top: 10px;

}

 nav ul li {
list-style: none;
text-decoration: none;
font-size:1.2rem;
margin-right:100px;
 }

 nav ul li a {
  text-decoration: none;
  color:beige;
  
}

nav ul li a:hover {
  border-bottom: 3px solid green;
}

.btn {
  background-color: rgb(73, 44, 6);
  color:black;
  padding:10px 20px;
  border-radius: 60px;
}

.btn:hover {
background-color:rgb(57, 96, 11);
color: rgb(235, 233, 230);
}

.welcome {
  width: 100vw;

}

 .welcome h1 {
  color: rgb(255, 255, 255);
  margin:10px;
  padding-top:80px;
  text-align:center;
  margin-top:60px;
  font-size: 4rem;
  font-family: exo;
  }


.welcome h1 a {
    text-decoration: none;
    color: rgb(199, 195, 187);
  }


  .welcome h2 {
    color: rgb(155, 170, 139);
    text-align:center;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .hero-btns {
    text-align: center;
    margin-top: 60px;
  
  }
  .hero-btns a {
  background-color: rgb(73, 44, 6);
  padding:10px 20px;
  margin:20px;
  border-radius: 60px;


  }

  .hero-btn1, .hero-btn2 {
  color: whitesmoke;
  }

.hero-btn1:hover {
background-color:rgb(57, 96, 11);
color: rgb(235, 233, 230);
}
 
.hero-btn2:hover {
background-color:rgb(57, 96, 11);
color: rgb(235, 233, 230);
}
 


  .line {
  width: 50vw;
  height: 3px;
  margin: 8rem auto -2rem auto;
  background-color: rgb(5, 118, 33); }



  section.container {
    margin-left: auto;
    margin-right: auto;
    padding:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }

 article.post {
 background-color:rgb(252, 247, 242);
 padding:20px;
 border: 1px solid rgba(139, 69, 19, 0.345);
 width:auto;
 overflow:hidden;
 margin:20px;
 border-style: ridge;

 }

 .post figure {
  margin:0;
  padding: 0;
 }

 article.post img {
  display: block;
  height:auto;
 }

 article.post figcaption {
  font-size: .7rem;
 text-align: end;
 color: whitesmoke;
 margin: -1rem;
 margin-right: 1rem;
 }

 article.post h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 30px;
 }

 .container p {
  font-size:.8rem;
  text-align: center;
  margin-top: -10px;
 }

article.post a {
  color: rgb(47, 86, 19);

}

aside {
  display:flex;
  margin-right:30px;
  margin-top:20%;
 


}

.sidebar {
    margin: 40px;
    font-size: .9rem;
    width: 40%;
    padding: 10px;
    text-align: center;
    line-height: 1.7;
}
.flex-img img {
  height:auto;
  margin-top:20px;
  margin-left:20px;
  margin-bottom:4rem;
}


/*
article.widget {
  margin:0px 10 0px 10px; 
  text-align: center;
  background-color:rgb(124, 61, 9);
  padding: 12px;
  width: 14%;
  font-size: .8rem;
  color: whitesmoke;

}
  */

footer.colophon {
    background-color: rgba(18, 59, 3, 0.792);
    height:120px;
    width:100%;
    margin:0;
    padding: 40px;
    text-align: center;
    color:aliceblue;
  }